main{
    width: 80%;
    margin: auto;
    padding: 1em;
    border-radius: 5%;
    box-shadow: 5px 5px 5px black;
    font-family: 'PT Serif',serif;
}

h1, h2{
    text-align: center;
}

label{
    margin-right: 10px;
}

h1:hover{
    text-transform: uppercase;
}

input[type="button"]{
   margin: 10px auto;
}

button[type="submit"]{
   margin: 0 10px
}

#nameGen{
 display: flex;
 justify-content: center;
}

#firstL{
 margin-right: 10px;
}

#result{
  display: flex;
  justify-content: center;
  color: #fd2424;
}
