main{
    width: 80%;
    margin: auto;
    padding: 1em;
    border-radius: 5%;
    box-shadow: 5px 5px 5px black;
    font-family: 'PT Serif',serif;
}

h1, h2{
    text-align: center;
}

label{
    margin-right: 10px;
}

h1:hover{
    text-transform: uppercase;
}

button[type="submit"]{
    margin: 10px auto;
}

#nameGen{
 display: flex;
 justify-content: center;
}

#firstL{
 margin-right: 10px;
}
