main{
    background-color: #5CCDCD;
    width: 25%;
    margin: auto;
    padding: 1em;
    border-radius: 5%;
    box-shadow: 5px 5px 5px black;
    font-family: 'PT Serif',serif;
}

h1{
    text-align: center;
}

h1:hover{
    text-transform: uppercase;
}

button[type="submit"]{
    margin: 10px auto;
}

#main_poll{
    width: 50%;
    margin: 0 auto;
}

